/* Whole Site Styles */
a :link {
  font-weight: 100;
  color: #000000;
  text-decoration: none;
}
a :hover {
  font-weight: 500;
  color: #000000;
  text-decoration: none;
}
a :visited {
  color: #808080;
}
a :unvisited {
  font-weight: 250;
  color: #000000;
}
ul {
 
}
ul li ::before {
  content: "\200B";
}
body {
  background: #FFFFFF;
}
.container {
  display: flex;
}
.page-title {
  padding-top: 2rem;
  padding-left: 5rem;
  padding-bottom: 1rem;
}
.image-wrapper {
  text-align: center;
  .image-caption {
      color: $grey-color;
      margin-top: $spacing-unit / 3;
  }
}
h1, h2, h3, h4, h5, h6, content {
  font-weight: 100;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.35rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: .9rem;
}
h6 {
  font-size: .75rem;
}
content {
  font-weight: 100;
  font-size: 1.5rem;
}

/* NAV BAR Styles */
nav {
  margin-top: .25rem;
  font-size: 1.5rem;
  font-weight: 100;
}
.navbar-links{
  font: 1.5rem;
}

/* /Home Styles */
#name-and-title {
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
#name {
  align-self: center;
  font-size: 5.0rem;
  font-weight: 100;
}
#title {
  align-self: center;
  font-size: 1.5rem;
  font-weight: 100;
}
#home-logo {
  justify-content: center;
  width: 20rem;
}
.text {
  font-size: 1.5rem;
  font-weight: 100;
}
.subjects {
  font-size: 1rem;
  font-weight: 100;
}
/* Footer Styles */
footer {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 100;
  text-align: center;
}
/* /Blog - TIL - Archives Styles */
#blog-container {
  max-width: 75rem;
  flex-direction: column;
}
#post-list {
  list-style: none;
}
#blog-list {
  flex-direction: row;
  justify-content: flex-start;
  max-width: 50rem;
}
#blog-image {
  max-height: 30rem;
}
#blog-post-excerpt {
  font-style: italic;
  color: #808080;
}
#blog-post-title {
  font-size: 2rem;
}
#blog-post-date {
  font-style: bold;
  font-weight: 500;
  color: #000000;
}
#archive-post-title {
  font-size: 1.25rem;
  font-weight: 100;
}
#newsletter {
  padding-top: 2rem;
  align-self: center;
}
#til-post-date {
  font-weight: 500;
  color: #000000;
}

/* About Page Styles */
#about-container {
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 95rem;
}
#about-headshot {
  max-width: 25rem;
}
#about-content {
  max-width: 60rem;
}

/* Social launcher Page */
#social-launcher-container {
  flex-direction: column;
  align-content: center;
  max-width: 50rem;
}
#links-headshot-container {
  align-self: center;
  max-width: 50rem;
}
#links-headshot {
  max-width: 20rem;
}
.social-launcher {
  align-self: center;
  border-radius: 15px;
  box-shadow: .1px .1px 7px #808080;
  margin: .65rem;
  font-weight: 100;
  min-width: 25rem;
  max-width: 25rem;
  height: 2.5rem;
}
.launcher-heading {
  align-content: center;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}

#links-warning {
  align-self: center;
}
/* Tweet Scheduling */
#tweet-scheduling-container {
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 95rem;
  padding-bottom: 10rem;
}
  }
#hypefury-container {
  align-self: auto;
  justify-content: space-around;
}
#hypefury-logo {
  max-width: 25rem;
 }
 #hypefury-content {
  max-width: 60rem;
 }
 /* Domain Names */
#domain-name-container {
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 95rem;
  padding-bottom: 10rem;
}
  }
#hover-container {
  align-self: auto;
  justify-content: space-around;
}
#hover-logo {
  max-width: 25rem;
 }
 #hover-content {
  max-width: 60rem;
 }