/* Site Notes
Font Options
 --font-family: 'Open Sans', sans-serif; (weight 300, 400, 600, 700, 800)
 --font-family: 'Open Sans Condensed', sans-serif; (weight 300 and 700)

CSS HEX 
--independence: #545e75ff;
--blue-jeans: #63adf2ff;
--baby-blue-eyes: #a7ccedff;
--yale-blue: #304d6dff;
--air-superiority-blue: #82a0bcff;

CSS HSL
--independence: hsla(222, 16%, 39%, 1);
--blue-jeans: hsla(209, 85%, 67%, 1);
--baby-blue-eyes: hsla(208, 66%, 79%, 1);
--yale-blue: hsla(211, 39%, 31%, 1);
--air-superiority-blue: hsla(209, 30%, 62%, 1);

SCSS HEX
$independence: #545e75ff;
$blue-jeans: #63adf2ff;
$baby-blue-eyes: #a7ccedff;
$yale-blue: #304d6dff;
$air-superiority-blue: #82a0bcff;

SCSS HSL
$independence: hsla(222, 16%, 39%, 1);
$blue-jeans: hsla(209, 85%, 67%, 1);
$baby-blue-eyes: hsla(208, 66%, 79%, 1);
$yale-blue: hsla(211, 39%, 31%, 1);
$air-superiority-blue: hsla(209, 30%, 62%, 1);

SCSS RGB
$independence: rgba(84, 94, 117, 1);
$blue-jeans: rgba(99, 173, 242, 1);
$baby-blue-eyes: rgba(167, 204, 237, 1);
$yale-blue: rgba(48, 77, 109, 1);
$air-superiority-blue: rgba(130, 160, 188, 1);

SCSS Gradient
$gradient-top: linear-gradient(0deg, #545e75ff, #63adf2ff, #a7ccedff, #304d6dff, #82a0bcff);
$gradient-right: linear-gradient(90deg, #545e75ff, #63adf2ff, #a7ccedff, #304d6dff, #82a0bcff);
$gradient-bottom: linear-gradient(180deg, #545e75ff, #63adf2ff, #a7ccedff, #304d6dff, #82a0bcff);
$gradient-left: linear-gradient(270deg, #545e75ff, #63adf2ff, #a7ccedff, #304d6dff, #82a0bcff);
$gradient-top-right: linear-gradient(45deg, #545e75ff, #63adf2ff, #a7ccedff, #304d6dff, #82a0bcff);
$gradient-bottom-right: linear-gradient(135deg, #545e75ff, #63adf2ff, #a7ccedff, #304d6dff, #82a0bcff);
$gradient-top-left: linear-gradient(225deg, #545e75ff, #63adf2ff, #a7ccedff, #304d6dff, #82a0bcff);
$gradient-bottom-left: linear-gradient(315deg, #545e75ff, #63adf2ff, #a7ccedff, #304d6dff, #82a0bcff);
$gradient-radial: radial-gradient(#545e75ff, #63adf2ff, #a7ccedff, #304d6dff, #82a0bcff);
*/

/* Site Wide */
body {
  background: #FFFFFF;
}
.container {
  display: flex;
}
nav a {
  display: inline-block;
}
#navigation {

}
#navigation-title {
  flex-direction: row;
  font-size: 1.2rem;
}
.menu {
  display: inline;
}
#menu-links {

}
.page-title {
  padding-top: 2rem;
  padding-left: 5rem;
  padding-bottom: 1rem;
}
.image-wrapper {
  text-align: center;
  .image-caption {
      color: $grey-color;
      margin-top: $spacing-unit / 3;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.4rem;
}
h5 {
  font-size: 1.2rem;
}
h6 {
  font-size: 1rem;
}
content {
  font-size: 1.25rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: regular;
}
footer {
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  min-height: 10rem;
  background-color: #dbdbdb;
}
#footer-column-1 {
  display: flex;
  flex-direction: column;
}
#footer-column-2 {
  display: flex;
  flex-direction: column;
}
#footer-name {
  font-size: 1.25rem;
}
#footer-column-3 {
  display: flex;
  flex-direction: column;
}
#footer-row {
  padding-top: 1rem;
}


/* index.html */
#index {
  max-width: 80rem;
  flex-flow: column;
  justify-content: space-around;
}
#index-headline {
  max-width: 40rem;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  padding-bottom: 1rem;
}
#index-book {
  flex-flow: row;
  max-width: 60rem;
  justify-content: space-around;
  padding-bottom: 2rem;
}
#index-book-picture {
  max-width: 29rem;
}
#index-book-description {
  padding-top: 3rem;
  max-width: 29rem;
}
#index-about {
  max-width: 40rem;
  flex-flow: column;
  align-self: center;
}

/* articles.html */
#articles-container {
 flex-direction: column;
 max-width: 50rem;
}
#articles-category-container {
  padding-top: 1rem;
  flex-direction: column; 
  align-items: flex-start;
}
#articles-category-lists {
  flex-direction: row;
  max-width: 50rem;
  text-align: start; 
  justify-content: space-between;
}
#articles-articlesbydate {
  text-align: center;
}
#articles-bydate-list {
  align-items: flex-start;
}
#articles-list {
  list-style: none;
}
#articles-post-title {
  font-size: 1.25rem;
}

/* post.html */
#blog-container {
  max-width: 50rem;
  flex-direction: column;
  justify-content: space-around;
}
#posts-container {
  flex-direction: column;
  max-width: 50rem;
}
#post-title {
  
}
#blog-image {
  max-height: 30rem;
}
#post-content {

}

/* biography.html */

/* newsletter.html */
#newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* books.html */
#book-listing {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#book-picture {
  padding-right: 1rem;
}

/* tweet-scheduling.html */
#tweet-scheduling-container {
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 95rem;
  padding-bottom: 10rem;
}
#hypefury-container {
  align-self: auto;
  justify-content: space-around;
}
#hypefury-logo {
  max-width: 25rem;
 }
 #hypefury-content {
  max-width: 60rem;
 }

 /* domain-names.html */
#domain-name-container {
  flex-flow: row wrap;
  justify-content: space-around;
  max-width: 45rem;
  padding-bottom: 10rem;
}
#hover-container {
  align-self: auto;
  justify-content: space-around;
}
#hover-logo {
  max-width: 25rem;
 }
 #hover-content {
  max-width: 19rem;
 }