//* Whole Site Styles */
a :link {
  font-weight: 100;
  color: #000000;
  text-decoration: none;
}
a :hover {
  font-weight: 500;
  color: #000000;
  text-decoration: none;
}
a :visited {
  color: #808080;
}
a :unvisited {
  font-weight: 250;
  color: #000000;
}
ul {
  list-style: none;
}
ul li ::before {
  content: "\200B";
}
body {
  background: #FFFFFF;
}
content {
  font-weight: 100;
}
.container {
  display: flex;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.35rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: .9rem;
}
h6 {
  font-size: .75rem;
}

/* NAV BAR Styles */
nav {
  margin-top: .5rem;
  margin-left: 1.5rem;
  font-size: 1.5rem;
  font-weight: 100;
}
.navbar-links{
  font: 1.5rem;
}

/* /Home Styles */
#name-and-title {
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
#name {
  align-self: center;
  font-size: 5.0rem;
  font-weight: 100;
}
#title {
  align-self: center;
  font-size: 1.5rem;
  font-weight: 100;
}
#home-logo {
  width: 20rem;
}
.text {
  font-size: 1.5rem;
  font-weight: 100;
}
.subjects {
  font-size: 1rem;
  font-weight: 100;
}

/* Footer Styles */
footer {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 100;
  text-align: center;
}
/* /Blog - TIL - Archives Styles */
#blog-container {
  max-width: 75rem;
  flex-direction: column;
  justify-content: center;
}
#blog-post-excerpt {
  font-style: italic;
  color: #808080;
}
#blog-post-title {
  font-size: 2rem;
}
#blog-post-date {
  font-style: bold;
  font-weight: 500;
  color: #000000;
}
#archive-post-title {
  font-size: 1.25rem;
  font-weight: 100;
}
#newsletter {
  padding-top: 2rem;
  align-self: center;
}
#til-post-date {
  font-weight: 500;
  color: #000000;
}

/* About Page Styles */
#about-container {
  flex-direction: row;
}
#about-headshot-and-story {
  max-width: 75rem;
  align-self: auto;
  justify-content: space-around;
}
#about-headshot {
  max-width: 20rem;
  flex-grow: 1;
}
#about-story {
  flex-grow: 2;
}

/* Social launcher Page */
#social-launcher-container {
flex-direction: column;
max-width: fit-content;
max-height: fit-content;
}
.social-launcher {
border-radius: 15px;
box-shadow: .1px .1px 7px #808080;
margin: .65rem;
font-weight: 100;
min-width: fit-content;
height: 5.25rem;
}
.launcher-heading {
font-size: 1.75rem;
text-transform: uppercase;
text-align: center;
padding-top: .5rem;
}
.launcher-summary {
text-align: center;
font-size: .75rem;
font-style: italic;
}
img {
  max-width: 75%;
  margin-top: 3rem;
  margin-bottom: 2rem;
  margin-left: 10%;
  height: auto;
}