---
layout: default
title: Archive
permalink: /archive
sitemap:
  lastmod: 
  priority: 
  changefreq: 'monthly'
  exclude: 'no'
---

<!-- Posts -->
  <div class="container">
    <div class="">
      {% assign postsByYearMonth = site.posts | group_by_exp:"post", "post.date | date: '%Y %b'"  %}
      {% for yearMonth in postsByYearMonth %}
        <h2>{{ yearMonth.name }}</h2>
          <ul id="post-list" class="">
            {% for post in yearMonth.items %}
              <li id="archive-post-title">{{ post.date | date: "%d"}}&nbsp;&nbsp;<a href="{{ post.url }}">{{ post.categories }} - {{ post.title }}</a></li>
            {% endfor %}
          </ul>
      {% endfor %}
    </div>
  </div>
