---
layout: default
title: TIL
permalink: /til
sitemap:
  lastmod: 
  priority: 
  changefreq: 'monthly'
  exclude: 'no'
---

<!-- Posts -->
<div class="container">
  <div class="">
    <h1>Today I Learned</h1>
    <br>
    {% for post in site.categories.til %}
      <h4 id="til-post-date">
        {% if thedate != post.date | date: "%m-%d-%Y" %}
        {{ post.date | date: "%b. %e, %Y" }}
        {% endif %}
        {% assign thedate = post.date | date: "%m-%d-%Y" %}
      </h4>
        <ul class="post-list">
          <h3>
            <li>
              <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
          </h3>
          <h5 id="blog-post-excerpt">{{ post.excerpt }}</h5>
        </ul>
        <hr>
    {% endfor %}
  </div>
</div>
