
<div id="footer" class="container">
  <div id="footer-column-1" class="container">
    <ol>
      <ul><b>Navigation</b></ul>
      <ul>Home</ul>
      <ul>Articles</ul>
      <!-- <ul>Books</ul> -->
      <ul>Newsletter</ul>
      <!-- <ul>Biography</ul> -->
    </ol>
  </div>
  <div id="footer-column-2" class="container">
    <p id="footer-name"><b>Chad Underwood</b> © 2020</p>
  </div>
  <!-- <div id="footer-column-3" class="container">
    <ol>
      <ul><b>Navigation</b></ul>
      <ul>Home</ul>
      <ul>Articles</ul>
      <ul>Books</ul>
      <ul>Newsletter</ul>
      <ul>Biography</ul>
    </ol> -->
  </div>
</div>
