<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-white">
      <div class="row">
        <div class="col 6 col-sm-4">
          <span class="text-muted">Where can I take you?</span>
          <h5 class="text-black">
              <div class="d-flex flex-row" id="navbar-links">
                <div class="p-2 bd-highlight"><a href="/index.html">home</a></div>
                <div class="p-2 bd-highlight"><a href="/blog.html">blog</a></div>
                <div class="p-2 bd-highlight"><a href="/about.html">about</a></div>
                <div class="p-2 bd-highlight"><a href="/portfolio.html">portfolio</a></div>
                <div class="p-2 bd-highlight"><a href="/contact.html">contact</a></div>
                <div class="p-2 bd-highlight"><a href="/recommended.html">recommended</a></div>
                <div class="p-2 bd-highlight"><a href="/playlists.html">playlists</a></div>
              </div>
          </h5>
        </div>
        <div class="col-sm-4">
          <div class="d-flex flex-row-reverse">
            <div class="p-2 bd-highlight"><a href="https://www.instagram.com/chadundrwood"><img src="/assets/img/ig_icon.png" class="rounded float-right" alt="Instagram Icon"></a></div>
            <div class="p-2 bd-highlight"><a href="https://www.twitter.com/chadundrwood"><img src="/assets/img/tw_icon.png" class="rounded float-right" alt="Twitter Icon"></a></div>
            <div class="p-2 bd-highlight"><a href="https://www.linkedin.com/in/underwoodchad"><img src="/assets/img/li_icon.png" class="rounded float-right" alt="Linked In Icon"></a></div>
            <div class="p-2 bd-highlight"><a href="https://www.github.com/chadunderwood"><img src="/assets/img/gh_icon.png" class="rounded float-right" alt="Git Hub Icon"></a></div>
          </div>
        </div>
      </div>
    </div>

          <span class="text-muted"></span>
    </div>
    <nav class="navbar navbar-white bg-white">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class=""></span>
        MENU
      </button>
    </nav>
</div>
<!-- Nav Bar End -->
