<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-white">
      <div class="row">
        <div class="col 6 col-sm-4">
          <span class="text-muted">Where can I take you?</span>
              <div class="" id="navbar-links">
                <div class="p-2 bd-highlight"><a href="/index">home</a></div>
                <div class="p-2 bd-highlight"><a href="/blog">blog</a></div>
                <div class="p-2 bd-highlight"><a href="/til">today i learned</a></div>
                <div class="p-2 bd-highlight"><a href="/about">about</a></div>
                <!-- <div class=""><a href="/portfolio">portfolio</a></div> -->
                <!-- <div class=""><a href="/recommended">recommended</a></div> -->
                <div class="p-2 bd-highlight"><a href="/playlists">playlists</a></div>
                <div class="p-2 bd-highlight"><a href="/archive">archive</a></div>
              </div>
          </h4>
        </div>
        <div class="col-sm-4">
          <div class="d-flex flex-row-reverse">
            <div class="p-2 bd-highlight"><a href="https://www.instagram.com/{{ site.instagram_username }}"><img src="/assets/img/ig_icon.png" class="rounded float-right" alt="Instagram Icon"></a></div>
            <!-- <div class="p-2 bd-highlight"><a href="https://www.linkedin.com/in/{{ site.linkedin_username }}"><img src="/assets/img/li_icon.png" class="rounded float-right" alt="LinkedIn Icon"></a></div> -->
            <div class="p-2 bd-highlight"><a href="https://www.github.com/{{ site.github_username }}"><img src="/assets/img/gh_icon.png" class="rounded float-right" alt="Git Hub Icon"></a></div>
            <div class="p-2 bd-highlight"><a href="https://www.twitter.com/{{ site.twitter_username }}"><img src="/assets/img/tw_icon.png" class="rounded float-right" alt="Twitter Icon"></a></div>
          </div>
        </div>
      </div>
    </div>
    <span class="text-muted"></span>
  </div>
    <div class="d-flex flex-row">
      <nav class="navbar navbar-white bg-white">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class=""></span>
            MENU
        </button>
      </nav>
    </div>
</div>
<!-- Nav Bar End -->
